/* Background Color Styles */
.bg-primary {
  background-color: var(--second-color);
}

.bg-secondary {
  background-color: var(--first-color);
}

.bg-tertiary {
  background-color: var(--third-color);
}

.bg-light {
  background-color: var(--fourth-color);
}

.bg-dark {
  background-color: var(--fifth-color);
}

.bg-white {
  background-color: var(--fifth-color);
}
