/* Button Styles */
.v-btn {
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: var(--text-sm) !important;
  margin: var(--space-sm) auto;
  padding: var(--space-sm) var(--space-lg) !important;
}

.btn {
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: var(--text-sm) !important;
  margin: var(--space-sm) auto;
  padding: var(--space-sm) var(--space-lg) !important;
}

.btn-primary {
  background-color: var(--second-color);
  color: var(--fifth-color);
}

.btn-secondary {
  background-color: var(--first-color);
  color: var(--fifth-color);
}

.btn-accent {
  background-color: var(--third-color);
  color: var(--first-color);
}

.btn-third {
  background-color: var(--green-color);
  color: var(--fifth-color);
}

.btn-warning {
  background-color: var(--alert-warning);
  color: var(--fifth-color);
}

.btn-success {
  background-color: var(--alert-success);
  color: var(--fifth-color);
}

.btn-danger {
  background-color: var(--alert-error);
  color: var(--fifth-color);
}

.btn-info {
  background-color: var(--alert-info);
  color: var(--fifth-color);
}

.btn-red {
  background-color: var(--color-danger);
  color: var(--fifth-color);
}

.btn-red:hover {
  background-color: var(--color-danger-hover);
  color: var(--fifth-color);
}

.btn-yes {
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: var(--text-sm) !important;
  margin: var(--space-sm);
  background-color: var(--color-danger);
  color: var(--fifth-color);
}

.btn-yes:hover {
  background-color: var(--color-danger-hover);
  color: var(--fifth-color);
}

.btn-no {
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: var(--text-sm) !important;
  margin: var(--space-sm);
  background-color: var(--color-confirm);
  color: var(--fifth-color);
}

.btn-no:hover {
  background-color: var(--color-confirm-hover);
  color: var(--fifth-color);
}

#yesBtn {
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: var(--text-sm) !important;
  margin: var(--space-sm);
  background-color: var(--color-danger);
  color: var(--fifth-color);
}

#yesBtn:hover {
  background-color: var(--color-danger-hover);
  color: var(--fifth-color);
}

#noBtn {
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: var(--text-sm) !important;
  margin: var(--space-sm);
  background-color: var(--color-confirm);
  color: var(--fifth-color);
}

#noBtn:hover {
  background-color: var(--color-confirm-hover);
  color: var(--fifth-color);
}
