/* expansion-panels.css */

.v-expansion-panel {
    background-color: var(--fourth-color);
    margin-bottom: var(--space-sm);
    border-radius: 5px;
}

.v-expansion-panel-title {
    padding: var(--space-md);
    font-weight: bold;
    font-size: var(--text-base);
    background-color: var(--fourth-color);
    color: var(--text-light-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.v-expansion-panel-title .v-icon {
    margin-left: var(--space-sm);
    color: var(--icon-color);
}

.v-expansion-panel-title .v-row {
    width: 100%;
}

.v-expansion-panel-title[aria-expanded="true"] {
    background-color: var(--third-color);
    border-bottom: 2px solid var(--first-color);
}

.v-expansion-panel-text {
    padding: var(--space-md);
    background-color: var(--fourth-color);
}

.v-expansion-panel-text .v-autocomplete {
    margin-bottom: var(--space-lg);
}

@media (max-width: 1200px) {
    .v-expansion-panel-title {
        font-size: var(--text-base);
    }
}

@media (max-width: 992px) {
    .v-expansion-panel-title {
        font-size: var(--text-sm);
    }
}

@media (max-width: 768px) {
    .v-expansion-panel-title {
        font-size: var(--text-sm);
    }
}

@media (max-width: 576px) {
    .v-expansion-panel-title {
        font-size: var(--text-xs);
    }
}
