.footer {
    background-color: var(--first-color);
    color: var(--fifth-color);
    padding: var(--space-lg);
    text-align: center;
}

.footer a {
    color: var(--fifth-color);
    text-decoration: none;
    margin: 0 var(--space-sm);
}

.footer a:hover {
    text-decoration: underline;
}
