.form-group {
  margin-bottom: var(--space-md);
}

.form-label {
  display: block;
  margin-bottom: var(--space-xs);
  color: var(--color-text-primary);
}

.form-control {
  width: 100%;
  padding: var(--space-sm);
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.form-control:focus {
  border-color: var(--second-color);
  outline: none;
}

.form-control.error {
  border-color: var(--alert-error);
}

.form-error {
  color: var(--alert-error);
  font-size: var(--text-xs);
}
