.navbar {
    background-color: var(--fourth-color);
    padding: var(--space-sm);
}

.navbar a {
    color: var(--first-color);
    text-decoration: none;
    padding: var(--space-sm) var(--space-md);
}

.navbar a:hover {
    background-color: var(--third-color);
}
