.text-primary {
  color: #00bd7e;
}

.text-secondary {
  color: #009960;
}

.text-dark {
  color: #333333;
}

.text-light {
  color: #f5f5f5;
}

.text-grey {
  color: grey !important;
}

.text-center {
  text-align: center;
}

.text-alert {
  color: #ff6f00
}

.text-large {
  font-size: 1.5rem;
}

.text-medium {
  font-size: 1rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.page-summary {
  margin: 8px 0 12px;
  font-size: 0.95rem;
  color: #555;
}